h1 {
  color: blue;
}

.card{
  border: 1px solid black;
  padding: 16px;
  width: 300px;
  border-radius: 8px;
}

button{
  margin-right: 8px;
}

.alert{
  color: red;
}

.success{
  color: green;
}
