.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  border-radius: 8px;
  padding: 12px;
  border: 2px solid #ddd;
  width: 300px;
}

.card img{
  width: 100%;
  height: 120px;
  object-fit: cover;
}

